/* Global styling */

body {
  background-color: rgb(229, 187, 111);
  color: black;
  text-align: center;
  margin: 0;
  /*display: flex;*/
}

#body-container {
  background-color: #f7f7f7;
  max-width: 1500px;
  margin: auto;
  margin-top: 0px;
  min-height: 100vh;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Right panel styling for map page */

#rightContent {
  display: flex;
}

#siteCon {
  margin: 50px;
  float: right;
  top: 10px;
  position: absolute;
  right: 0;

}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0);
    padding: 12px 16px;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 130px;
}

.dropdown-content a {
    display: block;
    color: rgb(0, 119, 255);
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: rgb(229, 187, 111);
}
.dropdown:hover .dropdown-content {
    display: block;
}


.volcanoSelectionDropdown {
    position: absolute;
    top: 300px;
    right: 200px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 12px 16px;
}

.volcano-dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 130px;
}

.volcano-dropdown-content a {
    display: block;
    color: rgb(0, 119, 255);
    padding: 12px 16px;
}

.volcano-dropdown-content a:hover {
    background-color: rgb(229, 187, 111);
}
.volcanoSelectionDropdown:hover .volcano-dropdown-content {
    display: block;
}

#rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  float: right;
  width: 35%;
  position: relative;
}

#siteCon {
  margin: 0 0 20px 0;
  float: none;
  position: relative;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0);
    padding: 12px 16px;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 130px;
}

.dropdown-content a {
    display: block;
    color: rgb(0, 119, 255);
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: rgb(229, 187, 111);
}
.dropdown:hover .dropdown-content {
    display: block;
}


.volcanoSelectionDropdown {
    position: absolute;
    top: 0px;
    right: 200px;
    z-index: 1;
    background-color: rgba(70, 47, 47, 0);
    padding: 12px 16px;
    border-radius: 8px;
}

.volcano-dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 130px;
}

.volcano-dropdown-content a {
    display: block;
    color: rgb(0, 119, 255);
    padding: 12px 16px;
}

.volcano-dropdown-content a:hover {
    background-color: rgb(229, 187, 111);
}
.volcanoSelectionDropdown:hover .volcano-dropdown-content {
    display: block;
}

#volcanoSelect {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #b22222;
  background-color: #2c2c2c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#volcanoSelect:hover {
  background: #b22222;
  box-shadow: 0 0 10px #ff4500;
  color: white;
  transform: translateY(-2px);
}

/* Top bar tabs styling */

.top-nav {
  width: 100%
  background-color: #2c2c2c;
  padding: 10px 0;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.top-nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #3b3b3b;
  transition: background 0.2s;
}

.top-nav a:hover {
  background-color: #b22222;
  color: white;
  box-shadow: 0 0 10px #ff4500;
  transform: translateY(-2px);
}

.top-nav a.active {
  background-color: #ff4500;
  color: black
  box-shadow: inset 0 0 5px #ffdead;
}

/* Buffer toggle styling */

#bufferToggles, .volcanoSelectionDropdown {
  background: rgba(255,255,255,0.15);
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  margin-top: 0px;
  right: 0px;
  position: relative;
}

#bufferToggles label, .volcanoSelectionDropdown div {
  font-size: 14px;
}
